
__MACOSX/._newmath_java
__MACOSX/newmath_java/._.DS_Store
__MACOSX/newmath_java/._.gitignore
__MACOSX/newmath_java/._bin
__MACOSX/newmath_java/._dist
__MACOSX/newmath_java/._lib
__MACOSX/newmath_java/._src
__MACOSX/newmath_java/._test
__MACOSX/newmath_java/bin/._clean
__MACOSX/newmath_java/bin/._compile
__MACOSX/newmath_java/bin/._run
__MACOSX/newmath_java/bin/._test
__MACOSX/newmath_java/dist/._.DS_Store
__MACOSX/newmath_java/dist/._.gitkeep
__MACOSX/newmath_java/lib/._junit-platform-console-standalone-1.7.1.jar
__MACOSX/newmath_java/src/._Main.java
__MACOSX/newmath_java/src/._Newmath.java
__MACOSX/newmath_java/test/._NewmathTest.java
__MACOSX/newmath_py/._.DS_Store
__MACOSX/newmath_py/bin/._compile
__MACOSX/newmath_py/bin/._run
__MACOSX/newmath_py/bin/._test
newmath_ex/newmath_ex/.formatter.exs
newmath_ex/newmath_ex/bin/compile
newmath_ex/newmath_ex/bin/run
newmath_ex/newmath_ex/bin/test
newmath_ex/newmath_ex/lib/newmath_ex.ex
newmath_ex/newmath_ex/mix.exs
newmath_ex/newmath_ex/README.md
newmath_ex/newmath_ex/test/newmath_ex_test.exs
newmath_ex/newmath_ex/test/test_helper.exs
newmath_java/.DS_Store
newmath_java/__MACOSX/._newmath_java
newmath_java/__MACOSX/newmath_java/._.DS_Store
newmath_java/__MACOSX/newmath_java/._.gitignore
newmath_java/__MACOSX/newmath_java/._bin
newmath_java/__MACOSX/newmath_java/._dist
newmath_java/__MACOSX/newmath_java/._lib
newmath_java/__MACOSX/newmath_java/._src
newmath_java/__MACOSX/newmath_java/._test
newmath_java/__MACOSX/newmath_java/bin/._clean
newmath_java/__MACOSX/newmath_java/bin/._compile
newmath_java/__MACOSX/newmath_java/bin/._run
newmath_java/__MACOSX/newmath_java/bin/._test
newmath_java/__MACOSX/newmath_java/dist/._.DS_Store
newmath_java/__MACOSX/newmath_java/dist/._.gitkeep
newmath_java/__MACOSX/newmath_java/lib/._junit-platform-console-standalone-1.7.1.jar
newmath_java/__MACOSX/newmath_java/src/._Main.java
newmath_java/__MACOSX/newmath_java/src/._Newmath.java
newmath_java/__MACOSX/newmath_java/test/._NewmathTest.java
newmath_java/bin/clean
newmath_java/bin/compile
newmath_java/bin/run
newmath_java/bin/test
newmath_java/lib/junit-platform-console-standalone-1.7.1.jar
newmath_java/newmath_java/.DS_Store
newmath_java/newmath_java/bin/clean
newmath_java/newmath_java/bin/compile
newmath_java/newmath_java/bin/run
newmath_java/newmath_java/bin/test
newmath_java/newmath_java/lib/junit-platform-console-standalone-1.7.1.jar
newmath_java/newmath_java/src/Main.java
newmath_java/newmath_java/src/Newmath.java
newmath_java/newmath_java/test/NewmathTest.java
newmath_java/src/Main.java
newmath_java/src/Newmath.java
newmath_java/test/NewmathTest.java
newmath_py/newmath_py/bin/compile
newmath_py/newmath_py/bin/run
newmath_py/newmath_py/bin/run.py
newmath_py/newmath_py/bin/test
newmath_py/newmath_py/src/__pycache__/newmath.cpython-310.pyc
newmath_py/newmath_py/src/__pycache__/newmath.cpython-312.pyc
newmath_py/newmath_py/src/newmath.py
newmath_py/newmath_py/test/__pycache__/test_newmath.cpython-310.pyc
newmath_py/newmath_py/test/test_newmath.py
newmath_ex/newmath_ex/.formatter.exs
newmath_ex/newmath_ex/bin/compile
newmath_ex/newmath_ex/bin/run
newmath_ex/newmath_ex/bin/test
newmath_ex/newmath_ex/lib/newmath_ex.ex
newmath_ex/newmath_ex/mix.exs
newmath_ex/newmath_ex/README.md
newmath_ex/newmath_ex/test/newmath_ex_test.exs
newmath_ex/newmath_ex/test/test_helper.exs
newmath_java/__MACOSX/._newmath_java
newmath_java/__MACOSX/newmath_java/._.DS_Store
newmath_java/__MACOSX/newmath_java/._.gitignore
newmath_java/__MACOSX/newmath_java/._bin
newmath_java/__MACOSX/newmath_java/._dist
newmath_java/__MACOSX/newmath_java/._lib
newmath_java/__MACOSX/newmath_java/._src
newmath_java/__MACOSX/newmath_java/._test
newmath_java/__MACOSX/newmath_java/bin/._clean
newmath_java/__MACOSX/newmath_java/bin/._compile
newmath_java/__MACOSX/newmath_java/bin/._run
newmath_java/__MACOSX/newmath_java/bin/._test
newmath_java/__MACOSX/newmath_java/dist/._.DS_Store
newmath_java/__MACOSX/newmath_java/dist/._.gitkeep
newmath_java/__MACOSX/newmath_java/lib/._junit-platform-console-standalone-1.7.1.jar
newmath_java/__MACOSX/newmath_java/src/._Main.java
newmath_java/__MACOSX/newmath_java/src/._Newmath.java
newmath_java/__MACOSX/newmath_java/test/._NewmathTest.java
newmath_java/newmath_java/.DS_Store
newmath_java/newmath_java/bin/clean
newmath_java/newmath_java/bin/compile
newmath_java/newmath_java/bin/run
newmath_java/newmath_java/bin/test
newmath_java/newmath_java/lib/junit-platform-console-standalone-1.7.1.jar
newmath_java/newmath_java/src/Main.java
newmath_java/newmath_java/src/Newmath.java
newmath_java/newmath_java/test/NewmathTest.java
newmath_py/newmath_py/bin/compile
newmath_py/newmath_py/bin/run
newmath_py/newmath_py/bin/run.py
newmath_py/newmath_py/bin/test
newmath_py/newmath_py/src/__pycache__/newmath.cpython-310.pyc
newmath_py/newmath_py/src/__pycache__/newmath.cpython-312.pyc
newmath_py/newmath_py/src/newmath.py
newmath_py/newmath_py/test/__pycache__/test_newmath.cpython-310.pyc
newmath_py/newmath_py/test/test_newmath.py
newmath_ex/newmath_ex/.formatter.exs
newmath_ex/newmath_ex/bin/compile
newmath_ex/newmath_ex/bin/run
newmath_ex/newmath_ex/bin/test
newmath_ex/newmath_ex/lib/newmath_ex.ex
newmath_ex/newmath_ex/mix.exs
newmath_ex/newmath_ex/README.md
newmath_ex/newmath_ex/test/newmath_ex_test.exs
newmath_ex/newmath_ex/test/test_helper.exs
newmath_java/__MACOSX/._newmath_java
newmath_java/__MACOSX/newmath_java/._.DS_Store
newmath_java/__MACOSX/newmath_java/._.gitignore
newmath_java/__MACOSX/newmath_java/._bin
newmath_java/__MACOSX/newmath_java/._dist
newmath_java/__MACOSX/newmath_java/._lib
newmath_java/__MACOSX/newmath_java/._src
newmath_java/__MACOSX/newmath_java/._test
newmath_java/__MACOSX/newmath_java/bin/._clean
newmath_java/__MACOSX/newmath_java/bin/._compile
newmath_java/__MACOSX/newmath_java/bin/._run
newmath_java/__MACOSX/newmath_java/bin/._test
newmath_java/__MACOSX/newmath_java/dist/._.DS_Store
newmath_java/__MACOSX/newmath_java/dist/._.gitkeep
newmath_java/__MACOSX/newmath_java/lib/._junit-platform-console-standalone-1.7.1.jar
newmath_java/__MACOSX/newmath_java/src/._Main.java
newmath_java/__MACOSX/newmath_java/src/._Newmath.java
newmath_java/__MACOSX/newmath_java/test/._NewmathTest.java
newmath_java/newmath_java/.DS_Store
newmath_java/newmath_java/bin/clean
newmath_java/newmath_java/bin/compile
newmath_java/newmath_java/bin/run
newmath_java/newmath_java/bin/test
newmath_java/newmath_java/lib/junit-platform-console-standalone-1.7.1.jar
newmath_java/newmath_java/src/Main.java
newmath_java/newmath_java/src/Newmath.java
newmath_java/newmath_java/test/NewmathTest.java
newmath_py/newmath_py/bin/compile
newmath_py/newmath_py/bin/run
newmath_py/newmath_py/bin/run.py
newmath_py/newmath_py/bin/test
newmath_py/newmath_py/src/__pycache__/newmath.cpython-310.pyc
newmath_py/newmath_py/src/__pycache__/newmath.cpython-312.pyc
newmath_py/newmath_py/src/newmath.py
newmath_py/newmath_py/test/__pycache__/test_newmath.cpython-310.pyc
newmath_py/newmath_py/test/test_newmath.py
newmath_ex/newmath_ex/.formatter.exs
newmath_ex/newmath_ex/bin/compile
newmath_ex/newmath_ex/bin/run
newmath_ex/newmath_ex/bin/test
newmath_ex/newmath_ex/lib/newmath_ex.ex
newmath_ex/newmath_ex/mix.exs
newmath_ex/newmath_ex/README.md
newmath_ex/newmath_ex/test/newmath_ex_test.exs
newmath_ex/newmath_ex/test/test_helper.exs
newmath_java/__MACOSX/._newmath_java
newmath_java/__MACOSX/newmath_java/._.DS_Store
newmath_java/__MACOSX/newmath_java/._.gitignore
newmath_java/__MACOSX/newmath_java/._bin
newmath_java/__MACOSX/newmath_java/._dist
newmath_java/__MACOSX/newmath_java/._lib
newmath_java/__MACOSX/newmath_java/._src
newmath_java/__MACOSX/newmath_java/._test
newmath_java/__MACOSX/newmath_java/bin/._clean
newmath_java/__MACOSX/newmath_java/bin/._compile
newmath_java/__MACOSX/newmath_java/bin/._run
newmath_java/__MACOSX/newmath_java/bin/._test
newmath_java/__MACOSX/newmath_java/dist/._.DS_Store
newmath_java/__MACOSX/newmath_java/dist/._.gitkeep
newmath_java/__MACOSX/newmath_java/lib/._junit-platform-console-standalone-1.7.1.jar
newmath_java/__MACOSX/newmath_java/src/._Main.java
newmath_java/__MACOSX/newmath_java/src/._Newmath.java
newmath_java/__MACOSX/newmath_java/test/._NewmathTest.java
newmath_java/newmath_java/.DS_Store
newmath_java/newmath_java/bin/clean
newmath_java/newmath_java/bin/compile
newmath_java/newmath_java/bin/run
newmath_java/newmath_java/bin/test
newmath_java/newmath_java/lib/junit-platform-console-standalone-1.7.1.jar
newmath_java/newmath_java/src/Main.java
newmath_java/newmath_java/src/Newmath.java
newmath_java/newmath_java/test/NewmathTest.java
newmath_py/newmath_py/bin/compile
newmath_py/newmath_py/bin/run
newmath_py/newmath_py/bin/run.py
newmath_py/newmath_py/bin/test
newmath_py/newmath_py/src/__pycache__/newmath.cpython-310.pyc
newmath_py/newmath_py/src/__pycache__/newmath.cpython-312.pyc
newmath_py/newmath_py/src/newmath.py
newmath_py/newmath_py/test/__pycache__/test_newmath.cpython-310.pyc
newmath_py/newmath_py/test/test_newmath.py
